<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    {% extends 'base.html' %}

{% load crispy_forms_tags %}

</head>
<body>
    {% block content %}
    <br>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="300"><link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
                    <h3 style="text-align: center;font-weight: bold; color:black;">Welcome to <span style="text-align: center;font-weight: bold;color: #45ac8b;font-family: 'RocknRoll One', sans-serif;"> ICARE</span></h3><br>
                    <p style="text-align: justify; font-size: 17px;">ICare is a massage therapy website which let you meet with professional massage therapists who are near you.
                         They are specialize in massage for adults and kids and medical massage treatment. 

                         Each session starts off with a conversation to learn about your goals and reasons for seeking massage treatment. From there, your therapist will offer you the best options and procedures, customized for you.</p>
                </div>
                <br> <br>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="600">
                    <img src="https://res.cloudinary.com/zilfa/image/upload/v1613650507/blackwomendocs_pg3wmg.jpg"
                        height="350" alt="">
                </div>
            </div> <br><br>
            <hr>
        </div>
    </section>

    <section>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="../images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant2.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant3.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant4.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant5.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant6.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant7.jpeg" alt="">
                </div>
                <!--save 9 slide-->
                <div class="slide">
                    <img src="./static/images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant2.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant3.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant4.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant5.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant6.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="./static/images/plant7.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>


    {% endblock %}

</body>
</html>